<div class="card">
    <div class="card-body">
        <h1>Contactanos</h1>
        <p>Pide por WhatsApp o por llamada</p>
        <p>O si prefieres contactanos con servicio</p>
        <p>Por medio de:</p>
        
    </div>
</div>