<div class="nosotros mx-auto" style="text-align:center;">
    <div class="card-body">
        <h4 class="card-title">Contactanos </h4>
        <p class="card-text">
            Pide por WhatsApp o por llamada: <br>
            <b> Tel. 9988765432 </b><br><br>
            O si prefieres contactanos con servicio <br>
            Por medio de las app: <br>
        </p>
    </div>
</div>


<div class="serviceApps">
    <div class="service-img">
        <a target="blank" href="https://www.rappi.com.mx/cancun/restaurantes/1306720211-roccacinco-cancun"><img
                src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Rappi_backgr_logo.png" alt=""></a>

    </div>

    <div class="service-img">
        <a target="blank" href="https://www.ubereats.com/mx/store/rocca-cinco/lrmXkHfCQXSeiTOEutr4FA"><img
                src="https://logos-world.net/wp-content/uploads/2020/11/Uber-Eats-Symbol-700x394.jpg" alt=""></a>
    </div>

    <div class="service-img">
        <a target="blank" href="https://www.didi-food.com/es-MX"><img
                src="https://seeklogo.com/images/D/didi-food-logo-F56F56F9FA-seeklogo.com.png" alt=""></a>
    </div>
</div>

<br><br>

<div class="serviceApps">
    <div class="card-body">
        <h4>
            Revisa nuestras resenas desde el sitio de tripadvisor
        </h4>
    </div>

    <div class="service-img">
        <a
            href="https://www.tripadvisor.com.mx/Restaurant_Review-g150807-d17627192-Reviews-Rocca_Cinco-Cancun_Yucatan_Peninsula.html"><img
                src="https://logos-marcas.com/wp-content/uploads/2020/11/Tripadvisor-Logo.png" alt=""></a>
    </div>
</div>

<br><br>