<div class="primary-page-container">
  <div class="slider-container">
      <img src="https://imgur.com/lgVfetY.png" alt="" width="100%" height="auto">
  </div>

  <div class="about-us-among">
      <div class="order-in-line-container">
          <div>
              <button class="button-order">ORDENAR EN LINEA</button>
          </div>        
      </div>
      <div class="about-us">
        <div class="span-about-us"><span style="color:#000000; font-weight:bold; font-size: 2em; margin-bottom: 3em;">
            <P>Sobre nosotros</P>
        </div>
          <div class="span-description">
              <span style="color: #000000; font-size: 1.2em">
                  ROCCA CINCO &reg; es un restaurante innovador, con <br> 
      tradiciones gastrónomicos italianas que hacen del <br>
      menú una eléctrica combinación de sabores
              </span>
              
      </span>
      </div>
          
      </div>
  </div>
</div>