<div class="jumbotron mt-4">
    <h1 class="display-4">Restaurante Rocca Cinco</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit incidunt voluptatibus ducimus dolorum laboriosam enim libero totam quas? Error delectus obcaecati inventore iusto omnis vel quos iste sunt expedita blanditiis.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque impedit unde dolorem, nobis minus a numquam repudiandae dicta veritatis fugiat provident, illo iure sed quasi itaque mollitia? Doloribus, non doloremque.</p>     
    <a href="https://example.com" class="btn btn-primary btn-lg">Example Domain</a>
</div>