body {
  background: #ece9e6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #ece9e6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*
NAVIGATION BAR
*/

.navigation-bar-css {
  background: black;
  display: block;
}

.navigation-bar-css ul {
  justify-content: center;
  align-content: center;
}

.navigation-bar-css ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: large;
}

.navigation-bar-css ul li a:hover {
  color: #eeb71b;
}

.navigation-bar-css ul li {
  list-style: none;
  margin-left: 2.6em;
  margin-right: 2.6em;
}

.navigation-bar-css ul li img {
  height: auto;
  width: 18em;
}

/*FOOTER SECTION CSS */

#footer-rocca-cinco {
  width: 100%;
  height: 25%;
  background-color: black;
}

.footer-bg {
  color: white;
  display: flex;
  justify-content: center;
}

.footer-section-info {
  /* margin: 0.5em;*/
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 15%;
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-section-info div {
  width: 100%;
  height: 40%;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.social-media-buttons {
  width: 2.8em;
  height: 2.8em;
  border-radius: 50%;
  background: black;
}

.direction-span-class {
  font-size: 0.8em;
}

.contact-section-span {
  margin-top: 4.2%;
}

.section-2-div {
  display: flex;
  justify-content: center;
}

.section-3-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*-------INDEX-------*/

.btn-contactUs {
  font-size: large;
  text-align: center;
  background: white;
  color: black;
  border: solid black 2px;
}

.btn-contactUs:hover {
  text-align: center;
  background: black;
  color: white;
}

.nosotros {
  font-size: 1.4rem;
  margin: auto;
  width: 50%;
  padding: 20px;
  text-align: center;
}

.nosotros h4 {
  font-size: 1.5rem;
}

/*Menu*/

.recipe,
.recipe-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.recipe-img {
  flex: 2 0 25ch;
  height: calc(240px + 2vw);
  overflow: hidden;
}

.recipe-img img {
  max-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.recipe {
  border: 2px solid #ffa600;
  border-radius: 8px;
  overflow: hidden;
}

.recipe-content {
  padding: 10px 25px;
  flex: 4 1 40ch;
}

.recipe-title {
  margin: 0;
  font-size: clamp(1.4em, 2.1vw, 2.1em);
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
}

.recipe-title a {
  text-decoration: none;
  color: inherit;
}

/* Body Layout */

* {
  box-sizing: border-box;
}

body {
  justify-content: center;
  flex-wrap: wrap;
}

.big {
  width: clamp(200px, 65%, 45%);
  padding: 18px;
  justify-content: center;
  display: inline-block;
}

/*Contact Us*/

big {
  width: clamp(200px, 65%, 45%);
  /* padding: 18px;*/
  /*justify-content: center;*/
  /* display: inline-block;*/
}

.serviceApps {
  text-align: center;
  align-items: center;
}

.service-img {
  margin: 2rem;
  width: 25rem;
  height: 10rem;
  display: inline-block;
  border-radius: 25px;
}

.service-img:hover {
  outline: solid darkorange 10px;
}

.service-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  padding: 10px;
}

/*--ADMIN--*/

.admim-main {
  margin: auto;
  width: 80%;
  padding: 20px;
  text-align: center;
  padding: auto;
}

.admim-main btn-admin {
  padding: 80px;
}

.btn-admin {
  color: black;
  background: whitesmoke;
  margin: auto;
  text-align: center;
  height: 5rem;
  width: 15rem;
  font-size: larger;
  transition: background.4s, font-weight.4s;
}

.btn-admin:hover {
  color: white;
  background: darkorange;
  font-weight: bold;
}

.btn-add-dish {
  color: black;
  background: whitesmoke;
  margin: auto;
  text-align: center;
  height: 3rem;
  width: 10rem;
  font-size: larger;
  transition: background.4s, font-weight.4s;
}

.btn-add-dish:hover {
  color: white;
  background: darkorange;
  font-weight: bold;
}

.btn-back {
  color: whitesmoke;
  background: rgb(211, 10, 10);
  margin: 1rem;
  text-align: center;
  height: 3rem;
  width: 10rem;
  font-size: larger;
  transition: font-weight.4s;
  display: inline-block;
}

.btn-back:hover {
  font-weight: bold;
}

.btn-login-admin {
  border: solid 1px black;
  color: black;
  background: whitesmoke;
  margin: auto;
  text-align: center;
  height: 3rem;
  width: 10rem;
  font-size: larger;
  transition: background.4s, font-weight.4s;
}

.btn-login-admin:hover {
  color: white;
  background: darkorange;
  font-weight: bold;
}

.logo {
  height: 10rem;
  width: auto;
}

.logout-bar {
  display: block;
  position: relative;
  width: 100%;
  position: relative;
  height: 2rem;
}

.logout-bar a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: right;
  height: 5rem;
}

.btn-logout {
  color: rgb(88, 77, 77);
  margin: 1rem;
  text-align: center;
  height: 2.5rem;
  width: 9rem;
  font-size: larger;
  transition: color.4s, background.4s, font-weight.4s;
}

.btn-logout:hover {
  font-weight: bold;
  background: rgb(201, 0, 0);
  color: white;
}
