<footer class="" id="footer-rocca-cinco">

  <div class="footer-bg">
    <div class="buttons-social-media-container">
    </div>
    <div class="footer-section-info">
      <div>
        <img src="https://i.imgur.com/QTezkiR.png" alt="" width="auto" height="42px" />
        <span style="font-weight: bold; font-size: 1.3em;">ROCCA CINCO</span>
      </div>
      <div class="buttons-container">
        <button class="social-media-buttons">
          <a href="https://www.facebook.com/roccamx/" target="blank"><img src="https://imgur.com/FFD8AKc.png" alt=""
              width="25px" height="25px" /></a>
        </button>
        <button class="social-media-buttons">
          <a href="https://www.tripadvisor.com.mx/Restaurant_Review-g150807-d17627192-Reviews-Rocca_Cinco-Cancun_Yucatan_Peninsula.html"
            target="blank"><img src="https://imgur.com/sjiOnMo.png" alt="" width="25px" height="25px" /></a>
        </button>

        <button class="social-media-buttons">
          <a href="https://www.instagram.com/rocca_mx/" target="blank"><img src="https://imgur.com/7Mk5pQb.png" alt=""
              width="30px" height="30px" /></a>
        </button>
      </div>
    </div>
    <div class="footer-section-info">

      <div class="section-2-div">
        <span class="contact-section-span" style="font-weight: bold; font-size: 0.9em">CONTACTANOS</span>
      </div>
      <div class="section-2-div">
        <span class="direction-span-class">Av.Huayacan.
          <br />Plaza Aria No.14
          <br />*Dirección generica*</span>
      </div>
    </div>

    <div class="footer-section-info">
      <div class="section-3-div">
        <span>
          Tel. 99887654321
        </span>
        <br>
        <span>&copy;2021 ROCCA CINCO</span>

      </div>
    </div>
  </div>

</footer>