

<nav class="navigation-bar-css">

  <ul class="navbar">
    <li class="nav-item active">
<a href="#">INICIO</a>
    </li>
    <li class="nav-item active">
<a href="#">MENÚ</a>
    </li>

<li class="nav-item active">
<img src="https://i.imgur.com/uEPrA2g.png" alt="logo-restaurant-rocca-cinco" >
    </li>

    <li class="nav-item active">
<a href="#">CONTACTO</a>
    </li>
<li class="nav-item active">
<a href="#">RESERVA</a>
    </li>
</ul>

</nav>