<nav class="navigation-bar-css">

    <ul class="navbar">
        <li class="nav-item active">
            <a href="/">INICIO</a>
        </li>
        <li class="nav-item active">
            <a href="/menu">MENÚ</a>
        </li>

        <li class="nav-item active">
            <img src="https://i.imgur.com/uEPrA2g.png" alt="logo-restaurant-rocca-cinco">
        </li>

        <li class="nav-item active">
            <a href="/contact">CONTACTO</a>
        </li>
        <li class="nav-item active">
            <a href="/reservation">RESERVA</a>
        </li>
    </ul>

</nav>