<div class="admim-main jumbotron mt-4">
    <h2 class="display-4">ADMINISTRADOR</h2>

    <hr class="my-4">
    <p>Controle el contenido del menu y las promociones desde este menu de administracion. </p>
<br><br><br>
    <a href="/admin/menu"><button class="btn-admin">Editar Menu</button></a>
    <a href=""><button class="btn-admin">Editar Promociones</button></a>

<br><br><br><br><br><br><br>
    <p>En caso de haber un problema con la pagina recuerde ponerse en contacto con los desarrolladores.<br>
        Marcando al: 998-XXX-XXXX <br>
        o por correo a: lebinarie@gmail.com</p>
</div>